[Unit]
Description=Service
Requires=gestionproductos.socket
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/srv/www/gestion-productos/services/
ExecStart=/srv/www/gestion-productos/services/venv/bin/gunicorn \
        --access-logfile - \
        --workers 3 \
        --bind unix:/run/gestionproductos.sock \
        config.wsgi:application

[Install]
WantedBy=multi-user.target